@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-grad-de:linear-gradient(270deg,#f2d204 0%,#f6d108 27.6%,#edc211 54.17%,#e3b419 77.6%,#daa521 100%);
    --wallet-blue:#0075FF;
    --de-color:#f2d204;
    --subtext:#C8C8C8;
}
.shadow-hd{
box-shadow: 1px 1px 20px #0001;
}
.bg-grad{
    background-image: var(--bg-grad-de);
}
.text-grad{

    background-image: var(--bg-grad-de);
    color: transparent;
    -webkit-background-clip: text;
}

.event-details-labels{
    color: #C8C8C8;
    font-size: 0.87rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
display: none;
}
.text-clip{
    text-overflow: ellipsis;
    overflow-x: hidden;
    
}